.formulario {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.formulario form {
    max-width: 80%;
    background-color: #e0dcdc;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
}

.formulario input {
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.formulario input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.3);
    transform: scale(1.05);
}